<%- include ('header.ejs') %>

  <style>
    /* cards */
    .ic {
      margin-bottom: 10px;
    }

    .card {
      margin: 35px 15px 15px 15px;
      text-align: center;
    }

    .card-body-cc {
      background-color: #dce9ff;
    }

    .card-body-cc:hover {
      background-color: #9cc2fb;
    }
  </style>

  <img class="heading-image-background" src="assets/img/home_page_background_circle.png" alt="">
  <div class="my-bg-color">
    <div class="page-hero ">
      <div class="container">
        <div class="hero-section pt-5 my-container" style="padding-top: 12%;">
          <div class="container px-4 wow zoomIn" style="margin-top: 35px ;">
            <!-- <span class="subhead">Let's make your life happier</span> -->
            <h1 class="subhead display-5" style="font-weight: bolder;">No ordinary <br>doctor's office.</h1>
            <!-- <h1 class="display-4">Healthy Living</h1> -->
            <p>
              Get 24/7 on-demand virtual care. Or book same/next-day <br>
              appointments - in our offices or over video - with our <br>
              app. Most insurance accepted
            </p>
            <a href="doctors" class="btn btn-primary">Let's Consult</a>
          </div>

          <div class="col-lg-6 wow fadeInLeft" data-wow-delay="400ms">
            <div class="img-place custom-img-1">
              <img src="../assets/img/doc1.png">
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="page-section pb-0">
      <div class="container px-4">
        <div class="row align-items-center">
          <div class="col-lg-6 wow fadeInLeft" data-wow-delay="400ms">
            <div class="img-place custom-img-2">
              <img src="../assets/img/doc2.jpeg" alt="">
            </div>
          </div>
          <div class="col-lg-6 py-3 wow fadeInUp">
            <h1>Welcome to Your Health <br> Center</h1>
            <p class=" mb-4">Welcome to Your Health Center, the ultimate destination for all your healthcare needs.
              Our mission is to provide comprehensive and compassionate healthcare services to individuals and
              families in our community.We believe that healthcare is not just about treating illnesses, but also
              about promoting wellness and preventing diseases. Our team of experienced healthcare professionals
              is committed to delivering personalized care to each patient, and helping them achieve their health
              goals.</p>
            <a href="about" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div> <!-- .bg-light -->
  </div>
  </div>

  <!-- Category Start -->
  <div class="my-bg-color2">
    <div id="feature_cards" class="container-xxl py-5">
      <div class="container px-4">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <h1 class="mb-3">Our features</h1>
          <p>With our secure online patient portal, you can easily access your medical records, request prescription
            refills, and communicate with your healthcare team at any time, from anywhere.</p>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="card" style="border-radius: 25px;">
              <div class="card-body card-body-cc" style="border-radius: 25px;">
                <i class="fa-solid fa-file-medical ic fa-2x"></i>
                <h5 class="card-title">Insurance</h5>
                <p class="card-text">10+ Available</p>
                <a href="/insurence" class="btn btn-outline-primary">Get Insurance</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="card" style="border-radius: 25px;">
              <div class="card-body card-body-cc" style="border-radius: 25px;">
                <i class="fa-solid fa-syringe ic fa-2x"></i>
                <h5 class="card-title">Equipments</h5>
                <p class="card-text">100+ Available</p>
                <a href="/equipment" class="btn btn-outline-primary">Get Equipments</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="card" style="border-radius: 25px;">
              <div class="card-body card-body-cc" style="border-radius: 25px;">
                <i class="fa-solid fa-hospital ic fa-2x"></i>
                <h5 class="card-title">Labs</h5>
                <p class="card-text">5+ Available</p>
                <a href="/lab" class="btn btn-outline-primary">Get Into Labs</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="card" style="border-radius: 25px;">
              <div class="card-body card-body-cc" style="border-radius: 25px;">
                <i class="fa-solid fa-user-nurse ic fa-2x"></i>
                <h5 class="card-title">Nurses</h5>
                <p class="card-text">20+ Available</p>
                <a href="/nurses" class="btn btn-outline-primary">Book Nurses</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="card" style="border-radius: 25px;">
              <div class="card-body card-body-cc" style="border-radius: 25px;">
                <i class="fa-solid fa-capsules ic fa-2x"></i>
                <h5 class="card-title">Medicines</h5>
                <p class="card-text">1000+ Available</p>
                <a href="/medicines" class="btn btn-outline-primary">Get Medicines</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="card" style="border-radius: 25px;">
              <div class="card-body card-body-cc" style="border-radius: 25px;">
                <i class="fa-solid fa-wallet ic fa-2x"></i>
                <h5 class="card-title">Charges</h5>
                <p class="card-text">With Discount</p>
                <a href="/charges" class="btn btn-outline-primary">See Charges</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Category End -->


    <!-- Testimonial Start -->
    <div id="feature_cards" class="container-xxl py-5">
      <div class="container px-4">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <h1 class="mb-3">Our patients Say!</h1>
          <p>Our patients are at the heart of everything we do, and we are proud to have helped so many individuals and
            families
            achieve their health goals. Here are just a few testimonials from our patients.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow zoomIn" data-wow-delay="0.1s">
          <div class="testimonial-item  rounded p-3">
            <div class="bg-white  rounded p-4">
              <p>I have been a patient at Your Health Center for years, and the level of care I receive is exceptional.
                The staff is always friendly and helpful, and my doctor takes the time to listen to my concerns</p>
              <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded" src="../assets/img/icons/testimonial-1.jpg"
                  style="width: 45px; height: 45px;">
                <div class="ps-3">
                  <h6 class="fw-bold mb-1">Soniya Putin</h6>
                  <small>Manager</small>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-item  rounded p-3">
            <div class="bg-white  rounded p-4">
              <p>I recently had to bring my daughter in for a minor emergency, and the team at Your Health Center was
                amazing.
                They were so reassuring and took great care of her</p>
              <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded" src="../assets/img/icons/testimonial-2.jpg"
                  style="width: 45px; height: 45px;">
                <div class="ps-3">
                  <h6 class="fw-bold mb-1">Sam curi</h6>
                  <small>Teacher</small>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-item  rounded p-3">
            <div class="bg-white  rounded p-4">
              <p>I love the convenience of being able to schedule appointments online through the patient portal.
                It saves me so much time and hassle.Your platform is very helpful to everyone.</p>
              <div class="d-flex align-items-center">
                <img class="img-fluid flex-shrink-0 rounded" src="../assets/img/icons/testimonial-3.jpg"
                  style="width: 45px; height: 45px;">
                <div class="ps-3">
                  <h6 class="fw-bold mb-1">Watson Gel</h6>
                  <small>Farmer</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->
  </div>
  <!-- .bg-light -->


  <%- include ('footer.ejs') %>